#container{
	width:700px;
	margin:0 auto;
}
header{
	height:200px;
	background:pink;
}
#contents{
	display:flex;
}
main{
	flex:1;
	height:500px;
	background:aquamarine;
}
aside{
	width:200px;
	background:yellow;
}
footer{
	height:100px;
	background:aqua;
}
