/*tagに直接スタイルを設定しない*/
h1{
	color:blue;
	font-size:30px;
}
.red{
	color:red;
}
.fs40{
	font-size:40px;
}
.yellow{
	color:yellow;
}
/*idは、単一の要素に使用*/
#favoriteWord{
	/*paddingは追加*/
	background:gold;
	width:400px;
	padding-left:20px;
	font-size:40px;
	color:green;
	border-left:5px solid green;
	border-bottom:2px dotted green;
}
#box{
	width:300px;
	height:200px;
	background:pink;
	color:white;
	/*margin他の要素との隙間*/
	margin-top:50px;
	margin-left:50px;
	padding-top:20px;
	padding-left:20px;
	font-size:30px;
	border:3px solid black;
	border-radius:10px;
	
}
